<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUAN_LI_CUA_HANG_DIEN_TU.Properties.Settings.DO_AN_BAN_DO_DIEN_TUConnectionString"
            connectionString="Data Source=hh\SQLEXPRESS;Initial Catalog=DO_AN_BAN_DO_DIEN_TU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QUAN_LI_CUA_HANG_DIEN_TU.Properties.Settings.QuanLiCuaHangConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\QuanLiCuaHang.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>